<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Opinia ta
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <ion-slides #slider [options]="sliderOptions" padding (ionDidChange)="onSlideChanged()">
    <ion-slide>
      <h2>OPINIA TA</h2>
      <p>
       Ajută-ne să facem această aplicație mai bună!
      </p><p>
       Răspunde scurt la 3 întrebări, cu Da/Nu!
      </p>
      <button ion-button icon-only (click)="nextSlide()" clear color="dark">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
    <ion-slide *ngFor="let question of slides">
      <h2>OPINIA TA</h2>
      <p>{{ question.content }}</p>
      <div *ngIf="question.status.active">
        <button
          *ngFor="let button of question.buttons"
          ion-button
          color="{{ button.color }}"
          (click)="answerQuestion(question.id, button.value)">
          {{ button.label }}
        </button>
      </div>
      <div *ngIf="!question.status.active">
        <p style="font-size: 1em">
          {{ question.status.answer }} 
        </p>
      </div>
      <p *ngIf="question.status.active">
        <button clear (click)="nextSlide()" ion-button>
          Răspund mai târziu
        </button>
      </p>
      <p *ngIf="!question.status.active">
        <button clear (click)="nextSlide()" ion-button icon-only color="dark">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </p>
    </ion-slide>
    <ion-slide>
      <p>
        Mulțumim pentru răspunsuri!
      </p><p>
        Pregătim deja versiunea nouă a acestei aplicații, care îți va oferi info despre punctele de interes pentru comunitatea din diaspora. 
      </p>
      <button ion-button (click)="facebookShare()" icon-only clear>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
      <button ion-button (click)="twitterShare()" icon-only clear>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
      <button ion-button (click)="whatsappShare()" icon-only clear>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
