page-feedback {
  ion-slides {
    background: #FFCC00;
    ion-slide {
      h2 {
        font-weight: 100;
        font-size: 2.5em;
        letter-spacing: 6px;
      }
      h2:after {
        content: "";
        height: 1px;
        width: 25%;
        border-bottom: 1px solid #CF873B;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
      }
      p {
        margin-top: 20px;
        font-size: 1.5em;
      }
    }
  }
}
