<ion-header>
  <ion-navbar color="primary">
    <ion-title>Opinia ta</ion-title>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <ion-slides #slider [options]="sliderOptions" padding>
    <ion-slide>
      <h2>OPINIA TA</h2>
      <p>
        Lorem ipsum dolor sit amet
      </p>
      <button ion-button icon-only (click)="nextSlide()" clear color="dark">
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-slide>
    <ion-slide *ngFor="let question of slides">
      <h2>OPINIA TA</h2>
      <p>{{ question.content }}</p>
      <button 
        *ngFor="let button of question.buttons"
        ion-button 
        color="{{ button.color }}" 
        (click)="answerQuestion(question.id, button.value)">
        {{ button.label }}
      </button>
      <p>
        <button clear (click)="nextSlide()" ion-button>
          Răspund mai târziu
        </button>
      </p>
    </ion-slide>
    <ion-slide>
      <h2>Spune-le și prietenilor tăi</h2>
      <button ion-button (click)="facebookShare()" icon-only clear>
        <ion-icon name="logo-facebook"></ion-icon>
      </button>      
      <button ion-button (click)="twitterShare()" icon-only clear>
        <ion-icon name="logo-twitter"></ion-icon>
      </button>      
      <button ion-button (click)="whatsappShare()" icon-only clear>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </button>      
    </ion-slide>
  </ion-slides>
</ion-content>
