<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="applogo"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <ion-fab right top #fab>
    <button ion-fab mini><ion-icon name="pin"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab *ngFor="let category of markerCategories" (click)="switchView(category, fab)">
        <ion-icon name="arrow-back"></ion-icon>
        <div class="label">{{ category }}</div>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab *ngIf="userPosition" right bottom>
    <button ion-fab (click)="locate()" mini><ion-icon name="locate"></ion-icon></button>
  </ion-fab>

  <div #gmap id="gmap"></div>
  <div id="search">
    <input placeholder="Caută adresa..." />
    <button (click)="resetSearch()"><ion-icon name="close"></ion-icon></button>
  </div>
</ion-content>
