page-map {
  [right][bottom] { 
    right: 25px; 
    bottom: 25px; 
  }
  [top][right] { 
    top: calc(100% - 140px); 
    right: 25px; 
  }

  .scroll-content { 
    overflow-y: hidden; 
  }

  #gmap { 
    height: 100%; 
  }

  #search {
    display: flex; 
    width: 98%; 
    margin: 5px 1%; 
    border-radius: 2px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

    > * { 
      flex: 1 1 0; background-color: #fff; 
    }

    input { 
      flex-basis: 100%; 
      width: 100%; 
      padding: 10px; 
      font-size: 16px; 
      border: 0; 
    }
    button { 
      padding-left: 15px; 
      padding-right: 15px; 
    }
  }

  #type-selector { 
    padding: 15px 10px; 
    background-color: #4d90fe; 
    color: #fff; 
  }

  #type-selector label { 
    font-size: 13px; 
  }

  ion-fab {
    button {
      box-shadow: 0 4px 10px #6b6b6b;
    }

    ion-fab-list button[ion-fab] {
      text-align: center;
      overflow: visible;

      div.label {
        position: absolute;
        right: 48px;
        background: rgba(248, 248, 248, 1);
        height: 24px;
        line-height: 16px;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
      }

      .button-inner {
        overflow: visible;
      }
    }
  }
}

.toast-gmaps {
  opacity: 0.9;
  .toast-button {
    color: #6699FF;
  }
}
