// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-md-hublogo:before {
  background-size: 305px 87px;
  width: 305px;
  height: 87px;
  opacity: 0.1;
}

.ion-md-hublogo {
  position: absolute;
  bottom: 20px;
}

.ion-md-maelogo:before {
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  opacity: 0.1;
  margin-left: 45px;
}

.ion-md-maelogo {
  position: absolute;
  bottom: 115px;
}
