page-welcome {
  ion-content {
    background-image: url(../assets/welcome-bg.png); background-size: cover; color: #fff;
    .scroll-content { display: flex; align-items: center; justify-content: center; }
    ion-icon.icon:before { width: 210px; height: 40px; }
    p { color: #fff; font-size: 1.6rem; }
  }
}
