<ion-header>
  <ion-navbar>
    <ion-title>Detalii</ion-title>
    <ion-buttons end *ngIf="isOverlay">
      <button ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides
    *ngIf="marker && image"
    [options]="sliderOptions"
    class="cover">
    <ion-slide>
      <img src="{{ image }}">
    </ion-slide><ion-slide>
      <img src="{{ imagePanoramic }}">
    </ion-slide>
  </ion-slides>

  <div padding>

    <div *ngIf="marker">

      <h1>{{ marker.name }}</h1>

      <ion-list no-lines>
        <div ion-item>
          <ion-icon name="flag" item-left></ion-icon>
          <div class="item item-text-wrap">
            {{ marker.address }}
          </div>
        </div>
        <div ion-item>
          <ion-icon name="time" item-left></ion-icon>
          7:00 - 21:00 (ora locală)
        </div>
        <div ion-item>
          <ion-icon name="navigate" item-left></ion-icon>
          <button ion-button (click)="navigate()" outline>
            Vezi ruta
          </button>
        </div>
      </ion-list>
      <div ion-item>
        <button ion-button [navPush]="FAQPage" icon-left>
          <ion-icon name="help-circle"></ion-icon>
          Citește Mini-Ghidul Alegătorului
        </button>
        <br />
        <button ion-button [navPush]="FeedbackPage" icon-left>
          <ion-icon name="paper"></ion-icon>
          Spune-ne opinia ta
        </button>
      </div>
    </div>
  </div>
</ion-content>
