<ion-header>
  <ion-navbar>
    <ion-title>Detalii</ion-title>
    <ion-buttons end *ngIf="isOverlay">
      <button ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides
    *ngIf="marker && image"
    [options]="sliderOptions"
    class="cover">
    <ion-slide>
      <img src="{{ image }}">
    </ion-slide><ion-slide>
      <img src="{{ imagePanoramic }}">
    </ion-slide>
  </ion-slides>

  <div padding>

    <div *ngIf="marker">

      <h1>{{ marker.name }}</h1>

      <ion-list no-lines>
        <div ion-item>
          <ion-icon name="pin" item-left></ion-icon>
          <div ion-item text-wrap style="padding-left: 0">
            {{ marker.address }}
          </div>
        </div>
        <div ion-item>
          <ion-icon name="navigate" item-left></ion-icon>
          <button ion-button (click)="navigate()" style="padding: 20px;">
            Vezi ruta
          </button>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
